*{
   
    margin: 0;
    padding: 0;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.gradient{
    background: rgba(0,0,0,.4);
    background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 10%,rgba(0,0,0,.8));
    position: absolute;
    height: 100%;
    width: 100%;

}
.header{
position: relative;
display: flex;
border-bottom: 6px solid #3c3737;

}
.logo{
     position: relative; 
     margin-top: 25px;
    height: 70px;
    display: flex;
     justify-content: space-between;
    align-items: center; 
}
.netflix-image{
    height: 46px;
    margin-left: 65px;
}
.login{
   
    margin-right: 58px;
    


}
.eng{
width: 80px;
height: 40px;
background: none;
color: white;
border: 2px white solid;
border-radius: 2px;
margin-right: 25px;
}
.sign{
    width: 80px;
    height: 40px;
    background: none;
    color: white;
      background: red;
      border: none;
      border-radius: 2px;
}
.sign:hover{
    cursor: pointer;
}
.world-logo{
    mix-blend-mode: multiply;
    color: white;
    margin-right: -40px;

}
.text{
    margin: 0 auto;
    text-align: center;
    width: 68%;
    height: 50%;
    margin-top: 143px;
    color: white;
    
}
.h1{
    font-size: 60px;
}
.h2{
font-size: medium;
font-size: xx-large;
margin-top: 8px;
}
.h3
{
    font-size: 23px;
    font-weight: 300;
    margin-top: 22px;
}
.email{
   
    width: 450px;
    height: 52px;
}
.btn{
    height: 56px;
    width: 271px;
    background: red;
    color: white;
    font-size: 31px;
    border: 0;
}
.text-last{
    justify-content: center;
    display: flex;
    margin-top: 15px;

}
.btn:hover{
    cursor: pointer;
}
.enjoy{
    width: 100%;
    height: 500px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1.3;
    border-bottom: 6px solid #3c3737;
}

.enjoy-text{
    
    font-size: 1.5rem;
    width: 43%;
    height: 35%;
}
.video{
    
    margin-left: -347px;
    width: 80%;
}
.tv{
    margin: -62px;
    position: relative;
}
.en{
    font-size: 25px;
}
.video-2{
    margin-left: -315px;
    width: 56%;
    margin-bottom: 57px
}
.mobile-text{

    display: flex;
    position: relative;
    background-color: black;
    left: 23px;
    bottom: 62px;
    align-items: center;
    border: 2px solid hsla(0,0%,100%,.25);
    border-radius: 0.75em;
    width: 83%;
    height: 105px;
    align-items: center;}
    .mobile-text p{
        margin-left: 15px;
    }
.downloading{
    color: blue;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    color: white;
    border-bottom: 6px solid #3c3737;
    background:black;
    height: auto;

}
.span{
    
    display: flex;
    /* justify-content: flex-end; */
    font-size:45px;
    cursor: pointer;
        transform: translateY(-50%) rotate(-45deg);
}
.footer ul li{
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #3c3737;
    color: white;
    margin-top: 6px;
    font-size: 27px;
    justify-content: space-between;
    /* margin-right: 317px;   */
}
.footer ul{
width: 60%;
}
.last-footer{
       height: 364px;
    background-color: black;
    color: white;
    font-size: 20px;
    
}
.last-footer p{
    opacity: 0.5;
  
}
/* .last-footer ul{
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */

.tx
    /* margin-left: 72px; */
.last-text{
    display: flex;
    flex-direction: column;
}
.last-text{
    display: flex;
}
.last-text ul{
    margin: 95px;
    font-size: 24px;
    list-style: none;
    opacity: 0.5;
}
.dk {
    text-decoration: none;
    background-color: black;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;

}
.dk:hover{
    color: blue;
}
.drop-content{
    font-size: 25px;
    background: #3c3737;
    margin-top: 6px;
    width: 97.2%;
    padding: 23px;
    display: none;
}
@media(max-width:600px) {
.text{
    margin: 0;
    padding: 0;
 
        
}
.text{
margin-top: 50px;
 /* display: flex;
 flex-direction: column;
 justify-content: center; */
 width: 100%;
 /* font-size: 10px; */
 /* margin-top: 10px; */
}
.h1{
    font-size: 43px;
    /* border: 2px red dotted; */
}
.h2{
    font-size: 25px;
}
.h3{
    width: 70%;
    font-size: 22px;
    text-align: center;
    margin-left: 13%;
    margin-top: 5px;
}
.netflix-image{
    height: 30px;
}
.eng,.sign{
    width: 51px;
    height: 30px;
}
.text-last{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email{
    width: 300px;
    height: 30px;
}
.btn{
    height: 32.5px;
    width: 150px;
    font-size: 20px;
    margin-top: 10px;
}
.header{
    height: 500px;
}
.enjoy{
    display: flex;
    flex-direction: column;
}
.enjoy h1{
    font-size: 35px;
    width: 115%;
}
.enjoy h2{
    width: 196%;
    font-size: 20px;
    margin-left: -38%;
    margin-top: 8px;
    font-weight: 400;
}
.enjoy-tv{
   
    margin-bottom: 99px;
    margin-left: 58px;
}
.tv{
    border: 1px dotted red;
}
}